.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  #searchForm{
    display : flex;
    flex-direction: column;
    width : 50%;
    height : 8rem;
    margin : auto;
    display : flex;
 }

  #keyword{
    height : 50%;
    margin-bottom : 15px;
  }

  #searchBtn{
    width : 25%;
    height : 50%;
    padding : 5px 10px;
    margin : auto;
  }


  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }